// colors
$colors: (
  'primary-1': #359499,
  'primary-2': #c6eaea,
  'primary-3': #e9f7f7,
  'white': #fff,
  'light': #aaa,
  'grey-1': #6f7c8a,
  'grey-2': #525b65,
  'dark-1': #212529,
  'dark-2': #1a222c,
  'black': #000
);

// font size
$base-font-size: 1rem;
$font-sizes: (
  // 12px
    xs: 0.75,
  // 14px
    sm: 0.875,
  // 16px
    md: 1,
  // 18px
    lg: 1.125,
  // 20px
    xl: 1.25,
  // 26px
    xxl: 1.625,
  // 35px
    xxxl: 2.1875
);

$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);

// spacing
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
