// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 16px;
  height: 100%;
  overflow: -moz-hidden-unscrollable;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  background: #fff;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #000;
  text-decoration: none;
}

// colors
$colors: (
  'primary-1': #359499,
  'primary-2': #c6eaea,
  'primary-3': #e9f7f7,
  'white': #fff,
  'light': #aaa,
  'grey-1': #6f7c8a,
  'grey-2': #525b65,
  'dark': #212529,
  'black': #000
);
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text algin
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

// font size
$base-font-size: 1rem;
$font-sizes: (
  // 12px
    xs: 0.75,
  // 14px
    sm: 0.875,
  // 16px
    md: 1,
  // 18px
    lg: 1.125,
  // 20px
    xl: 1.25,
  // 26px
    xxl: 1.625,
  // 35px
    xxxl: 2.1875
);
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

// 左边固定，右边元素撑满剩余空间
.flex-1 {
  flex: 1;
}

// spacing
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1 , .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// nav
.navbar {
  border-bottom: 1px solid map-get($colors, 'primary-3');
}
